/* used for full site  */


* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato';
    font-family: 'Open Sans', sans-serif;
}

.full_site_text {
    color: rgba(39, 39, 39, 0.60);
}

/* header style */
.banner_text {
    width: 450px;
    padding: 120px 0 130px 0;
}

.banner_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    padding: 30px 110px 0px 110px;
    height: 500px;

}

.banner_photo {
    width: 380px;
    height: 490px;
    padding-top: 12px;

}

.btn {
    padding: 16px 30px;
    border-radius: 8px;
    background: #E55473;
    font-size: 15px;
    border: none;
    background-size: cover;
    color: #FFF;
    font-weight: 600;
    font-family: Lato;
}

.banner_title {
    color: #272727;
    font-size: 40px;
    font-weight: 600;
}

/*  Main Body Style */
.featured_text {
    text-align: center;
    margin: 80px 0 20px 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 100;
}

.featured_text h3 {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 550;

}


.featured_container {
    display: flex;
    justify-content: space-around;
    padding: 40px 150px 26px 150px;

}


.img_container1 {
    width: 232px;
    height: 288px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 20px 30px 0 29px;

}

.img_container2 {
    width: 232px;
    height: 288px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 20px 30px 0 29px;
}

.img_container3 {
    width: 232px;
    height: 288px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 20px 30px 0 29px;
}

.featured_flower1 {
    padding: 61px 33px 0 32px;
    width: 165px;
    height: 227px;
    margin-bottom: 40px;
}

.featured_flower2 {
    padding: 61px 32px 0 38px;
    width: 165px;
    height: 227px;
    margin-bottom: 40px;
}

.featured_flower3 {
    padding: 61px 33px 0 32px;
    width: 165px;
    height: 227px;
    margin-bottom: 40px;
}

.tree_name {

    margin: 50px 0 0 38px;
    color: #272727;
    font-size: 18px;
    font-weight: 550;
    text-decoration-line: underline;
}

/* optional section */
.optional {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 50px 80px 50px 80px;
    /* margin: 165px; */
    margin: 120px 165px 100px 165px;
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    font-size: 15px;
    font-weight: 530;
    align-items: center;
}

/* hot deals section style  */
.hot_deals_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 65px 200px 67px 200px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot_deals_text {
    width: 320px;
    text-align: center;

}

.hot_deals_text h3 {
    color: #272727;
    font-size: 21px;
    font-weight: 550;
}

.hot_deals_text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 200;
    width: 340px;
}

.hot_deals_text span {
    color: #E55473;
}

/* instagram section  */
.instagram_section_text {
    text-align: center;
    margin: 90px 165px 100px 165px;
}

.instagram_section_text h3 {
    color: #272727;
    text-align: center;
    font-size: 21px;
    font-weight: 550;
}

.instagram_section_text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 200;
}

.ins_img_conatainer {
    display: flex;
    justify-content: space-around;
    margin: 25px 165px 100px 165px;
}

.ins_img_deco {
    width: 200px;
    height: 220px;
}

/* subscribe section  */

.subscribe_section {
    background-image: url(images/Rectangle\ 9.png);
    text-align: center;
    width: 900px;
    height: 300px;
    margin-left: 180px;
    background-size: cover;
    border-radius: 8px;
    margin-bottom: 80px;
}

.sub_sec_heading {
    color: #272727;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    padding: 70px 70px 10px 70px;
}

.ent_email {
    border-radius: 8px;
    width: 440px;
    height: 48px;
    padding-left: 10px;
    border: none;
    margin-right: 10px;
}

.subscribe_section p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    font-weight: 190;

}

.subscribe_section button {
    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    font-weight: 200;
    
}